.flair {
    /* text-indent: -9999px; */
    /* font-size: 0; */
    /* display: inline-block; */
    background-image: url("//b.thumbs.redditmedia.com/xsA9KV9nNwkafp0CQFyvO2F2blO6jL9w_BiQFFA721U.png")!important;
    /* background-repeat: no-repeat!important;
    border-width: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
    width: 37px;
    height: 23px;
    padding-top: 1px;
    margin: 0 4px;
    cursor: default;
    vertical-align: bottom;
    text-align: center;
    transition-duration: 0.33s */
}

/* .flair:hover {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
} */

.flair-440hertz {
    background-position: -1512px -247px
}

.flair-aaronc14 {
    background-position: -1513px -298px
}

.flair-abbasid-caliphate {
    background-position: 10px 9px
}

.flair-abkhazia {
    background-position: 10px -35px
}

.flair-acadia {
    background-position: 10px -79px
}

.flair-ad {
    background-position: 10px -123px
}

.flair-ae {
    background-position: 10px -167px
}

.flair-af {
    background-position: 10px -211px
}

.flair-african-union {
    background-position: 10px -255px
}

.flair-ai {
    background-position: 10px -299px
}

.flair-al {
    background-position: 10px -343px
}

.flair-alabama {
    background-position: 10px -387px
}

.flair-aland-islands {
    background-position: 10px -431px
}

.flair-alaska {
    background-position: 10px -475px
}

.flair-alberta {
    background-position: 10px -519px
}

.flair-almohad-caliphate {
    background-position: 10px -563px
}

.flair-alsace {
    background-position: 10px -607px
}

.flair-altai {
    background-position: 10px -651px
}

.flair-am {
    background-position: 10px -695px
}

.flair-amazonas-co {
    background-position: 10px -739px
}

.flair-andalusia {
    background-position: 10px -783px
}

.flair-angermanland {
    background-position: 10px -827px
}

.flair-anishinaabe {
    background-position: 10px -871px
}

.flair-antarctica {
    background-position: 10px -919px
}

.flair-ao {
    background-position: 10px -963px
}

.flair-aquitaine {
    background-position: 10px -1007px
}

.flair-ar {
    background-position: -37px 9px
}

.flair-aragon {
    background-position: -37px -35px
}

.flair-argentine-confederation {
    background-position: -37px -79px
}

.flair-arizona {
    background-position: -37px -123px
}

.flair-arkansas {
    background-position: -37px -167px
}

.flair-arrz {
    background-position: -1517px -349px
}

.flair-aruba {
    background-position: -37px -211px
}

.flair-as {
    background-position: -37px -255px
}

.flair-assyria {
    background-position: -37px -299px
}

.flair-asturias {
    background-position: -37px -343px
}

.flair-at {
    background-position: -37px -387px
}

.flair-atlantico-department {
    background-position: -37px -431px
}

.flair-au {
    background-position: -39px -481px
}

.flair-australian-aborigines {
    background-position: -37px -525px
}

.flair-australian-capital {
    background-position: -37px -569px
}

.flair-austria-hungary {
    background-position: -47px -619px
}

.flair-austrian-empire {
    background-position: -37px -669px
}

.flair-ayyubid-sultanate {
    background-position: -39px -716px
}

.flair-az {
    background-position: -37px -760px
}

.flair-azad-kashmir {
    background-position: -37px -804px
}

.flair-azores {
    background-position: -37px -848px
}

.flair-aztec-empire {
    background-position: -43px -901px
}

.flair-ba {
    background-position: -37px -945px
}

.flair-baden {
    background-position: -104px 9px
}

.flair-baden-wuerttemberg {
    background-position: -37px -989px
}

.flair-baja-california {
    background-position: -104px -35px
}

.flair-balearic-islands {
    background-position: -104px -79px
}

.flair-barskie {
    background-position: -1513px -395px
}

.flair-basel-stadt {
    background-position: -104px -123px
}

.flair-bashkortostan {
    background-position: -104px -167px
}

.flair-basque {
    background-position: -105px -213px
}

.flair-bavaria {
    background-position: -104px -257px
}

.flair-bb {
    background-position: -104px -301px
}

.flair-bd {
    background-position: -104px -345px
}

.flair-be {
    background-position: -104px -389px
}

.flair-bedfordshire {
    background-position: -104px -433px
}

.flair-belarusian-ppls-rep {
    background-position: -104px -477px
}

.flair-berber {
    background-position: -104px -521px
}

.flair-berlin {
    background-position: -104px -565px
}

.flair-bern {
    background-position: -104px -609px
}

.flair-bf {
    background-position: -104px -653px
}

.flair-bg {
    background-position: -104px -697px
}

.flair-bh {
    background-position: -104px -741px
}

.flair-bi {
    background-position: -104px -785px
}

.flair-bj {
    background-position: -104px -829px
}

.flair-blahtheamazing {
    background-position: -1522px -448px
}

.flair-bm {
    background-position: -104px -877px
}

.flair-bn {
    background-position: -104px -921px
}

.flair-bo {
    background-position: -104px -965px
}

.flair-bohemia {
    background-position: -104px -1009px
}

.flair-bornholm {
    background-position: -156px 2px
}

.flair-bot {
    background-position: -1577px -147px
}

.flair-br {
    background-position: -153px -42px
}

.flair-brandenburg {
    background-position: -153px -86px
}

.flair-brazilian-empire {
    background-position: -153px -136px
}

.flair-bremen {
    background-position: -153px -180px
}

.flair-britain-working-class {
    background-position: -153px -224px
}

.flair-british-columbia {
    background-position: -153px -268px
}

.flair-british-empire {
    background-position: -153px -318px
}

.flair-british-hongkong {
    background-position: -153px -362px
}

.flair-brittany {
    background-position: -153px -406px
}

.flair-brussels {
    background-position: -153px -450px
}

.flair-bs {
    background-position: -153px -494px
}

.flair-bssr {
    background-position: -153px -538px
}

.flair-bt {
    background-position: -153px -582px
}

.flair-buckinghamshire {
    background-position: -153px -626px
}

.flair-buenos-aires-province {
    background-position: -153px -670px
}

.flair-bw {
    background-position: -153px -714px
}

.flair-by {
    background-position: -153px -758px
}

.flair-byzantine-empire {
    background-position: -153px -802px
}

.flair-bz {
    background-position: -153px -846px
}

.flair-ca {
    background-position: -155px -893px
}

.flair-cajun {
    background-position: -153px -937px
}

.flair-california {
    background-position: -153px -981px
}

.flair-canary-islands {
    background-position: -214px 9px
}

.flair-carolingian-empire {
    background-position: -206px -43px
}

.flair-cascadia {
    background-position: -206px -87px
}

.flair-castile-and-leon {
    background-position: -206px -131px
}

.flair-catalonia {
    background-position: -206px -175px
}

.flair-cayman-islands {
    background-position: -206px -219px
}

.flair-cccp {
    background-position: -206px -269px
}

.flair-cccpy {
    background-position: -206px -319px
}

.flair-cd {
    background-position: -206px -363px
}

.flair-celtic-union {
    background-position: -206px -407px
}

.flair-ch {
    background-position: -206px -451px
}

.flair-champagne-ardenne {
    background-position: -206px -495px
}

.flair-chechen-iktakeria {
    background-position: -206px -546px
}

.flair-cherokee {
    background-position: -206px -590px
}

.flair-cheshire {
    background-position: -206px -634px
}

.flair-chile-hat {
    background-position: -206px -685px
}

.flair-ci {
    background-position: -206px -729px
}

.flair-cilicia {
    background-position: -206px -773px
}

.flair-circassia {
    background-position: -206px -817px
}

.flair-ck {
    background-position: -206px -869px
}

.flair-cl {
    background-position: -206px -913px
}

.flair-cm {
    background-position: -206px -957px
}

.flair-cn {
    background-position: -206px -1001px
}

.flair-co {
    background-position: -269px 9px
}

.flair-colorado {
    background-position: -269px -35px
}

.flair-connecticut {
    background-position: -269px -79px
}

.flair-convict {
    background-position: -1584px -197px
}

.flair-cordoba-ar {
    background-position: -269px -123px
}

.flair-cork {
    background-position: -269px -167px
}

.flair-cornwall {
    background-position: -269px -211px
}

.flair-corsica {
    background-position: -269px -255px
}

.flair-cossack-hetmanat {
    background-position: -269px -299px
}

.flair-county-of-nice {
    background-position: -269px -343px
}

.flair-cr {
    background-position: -269px -387px
}

.flair-csa {
    background-position: -269px -431px
}

.flair-cu {
    background-position: -269px -481px
}

.flair-cuba-first-republic {
    background-position: -269px -525px
}

.flair-cundinamarca {
    background-position: -269px -569px
}

.flair-curacao {
    background-position: -269px -613px
}

.flair-cv {
    background-position: -269px -657px
}

.flair-cy {
    background-position: -269px -701px
}

.flair-cyrenaica {
    background-position: -269px -745px
}

.flair-cz {
    background-position: -269px -789px
}

.flair-dacia {
    background-position: -269px -833px
}

.flair-dagestan {
    background-position: -269px -877px
}

.flair-dalarna {
    background-position: -269px -921px
}

.flair-dalmatia {
    background-position: -269px -965px
}

.flair-de {
    background-position: -269px -1009px
}

.flair-delaware {
    background-position: -316px 9px
}

.flair-derbyshire {
    background-position: -316px -35px
}

.flair-dervish-state {
    background-position: -316px -79px
}

.flair-devon {
    background-position: -316px -123px
}

.flair-dickrhino {
    background-position: -1512px -498px
}

.flair-disneyvillain {
    background-position: -1515px -548px
}

.flair-dj {
    background-position: -316px -167px
}

.flair-dk {
    background-position: -316px -211px
}

.flair-dm {
    background-position: -316px -255px
}

.flair-do {
    background-position: -316px -299px
}

.flair-dorset {
    background-position: -316px -343px
}

.flair-doubs {
    background-position: -316px -387px
}

.flair-drenthe {
    background-position: -316px -431px
}

.flair-duchy-of-savoy {
    background-position: -316px -475px
}

.flair-duchy-of-schleswig {
    background-position: -316px -519px
}

.flair-dutch-brazil {
    background-position: -316px -563px
}

.flair-dutch-republic {
    background-position: -321px -616px
}

.flair-dz {
    background-position: -316px -660px
}

.flair-earth {
    background-position: -316px -704px
}

.flair-east-frisia {
    background-position: -316px -748px
}

.flair-east-gothland {
    background-position: -316px -792px
}

.flair-east-prussia {
    background-position: -316px -836px
}

.flair-ec {
    background-position: -316px -880px
}

.flair-ee {
    background-position: -316px -924px
}

.flair-eesti-stronk {
    background-position: -1519px -601px
}

.flair-eg {
    background-position: -316px -975px
}

.flair-egypt-nemes {
    background-position: -377px 4px
}

.flair-empire-of-vietnam {
    background-position: -373px -40px
}

.flair-england {
    background-position: -373px -134px
}

.flair-england-bowler {
    background-position: -374px -90px
}

.flair-er {
    background-position: -373px -178px
}

.flair-es {
    background-position: -373px -222px
}

.flair-essex {
    background-position: -373px -266px
}

.flair-et {
    background-position: -373px -310px
}

.flair-european-union {
    background-position: -373px -354px
}

.flair-falklands {
    background-position: -373px -398px
}

.flair-faroe-islands {
    background-position: -373px -442px
}

.flair-fatimid-caliphate {
    background-position: -375px -489px
}

.flair-fi {
    background-position: -373px -533px
}

.flair-fiume {
    background-position: -373px -577px
}

.flair-fj {
    background-position: -373px -621px
}

.flair-flanders {
    background-position: -373px -665px
}

.flair-flevoland {
    background-position: -373px -709px
}

.flair-florida {
    background-position: -373px -753px
}

.flair-fm {
    background-position: -373px -797px
}

.flair-fr {
    background-position: -373px -841px
}

.flair-france-first-empire {
    background-position: -379px -892px
}

.flair-argentina-worldcup {
    background-position: -383px -942px
}

.flair-franconia {
    background-position: -373px -986px
}

.flair-free-city-of-danzig {
    background-position: -440px 9px
}

.flair-free-city-of-krakow {
    background-position: -440px -35px
}

.flair-free-france {
    background-position: -440px -85px
}

.flair-free-state-of-anhalt {
    background-position: -440px -129px
}

.flair-free-state-of-bottleneck {
    background-position: -440px -173px
}

.flair-frickin {
    background-position: -1522px -654px
}

.flair-friesland {
    background-position: -440px -217px
}

.flair-fvblt {
    background-position: -1521px -707px
}

.flair-ga {
    background-position: -440px -261px
}

.flair-galicia {
    background-position: -440px -305px
}

.flair-gb {
    background-position: -440px -355px
}

.flair-gdr {
    background-position: -440px -399px
}

.flair-ge {
    background-position: -440px -443px
}

.flair-gelderland {
    background-position: -440px -487px
}

.flair-geneva {
    background-position: -440px -531px
}

.flair-georgia {
    background-position: -440px -575px
}

.flair-german-east-africa {
    background-position: -440px -619px
}

.flair-german-empire {
    background-position: -439px -670px
}

.flair-gh {
    background-position: -440px -714px
}

.flair-gibraltar {
    background-position: -440px -758px
}

.flair-gm {
    background-position: -440px -802px
}

.flair-goias {
    background-position: -440px -846px
}

.flair-golden-horde {
    background-position: -440px -890px
}

.flair-gr {
    background-position: -440px -934px
}

.flair-gran-colombia {
    background-position: -440px -978px
}

.flair-grand-duchy-lt {
    background-position: -487px 9px
}

.flair-graubuenden {
    background-position: -487px -35px
}

.flair-greater-london {
    background-position: -487px -79px
}

.flair-greater-netherlands {
    background-position: -487px -123px
}

.flair-greenland {
    background-position: -487px -167px
}

.flair-groningen {
    background-position: -487px -211px
}

.flair-gssr {
    background-position: -487px -255px
}

.flair-gt {
    background-position: -487px -299px
}

.flair-guernsey {
    background-position: -487px -343px
}

.flair-gy {
    background-position: -487px -387px
}

.flair-hamburg {
    background-position: -487px -431px
}

.flair-hampshire {
    background-position: -487px -475px
}

.flair-haute-saone {
    background-position: -487px -519px
}

.flair-hawaii {
    background-position: -487px -563px
}

.flair-hertfordshire {
    background-position: -487px -607px
}

.flair-hesse {
    background-position: -487px -651px
}

.flair-hinadira {
    background-position: -1512px -760px
}

.flair-hn {
    background-position: -487px -695px
}

.flair-hochstift-muenster {
    background-position: -487px -739px
}

.flair-holy-roman-empire {
    background-position: -487px -783px
}

.flair-hongkong {
    background-position: -487px -827px
}

.flair-hordaland {
    background-position: -487px -871px
}

.flair-hr {
    background-position: -487px -915px
}

.flair-ht {
    background-position: -487px -959px
}

.flair-hu {
    background-position: -487px -1003px
}

.flair-icelandic-commonwealth {
    background-position: -534px 9px
}

.flair-id {
    background-position: -534px -39px
}

.flair-idaho {
    background-position: -534px -83px
}

.flair-ie {
    background-position: -534px -127px
}

.flair-il {
    background-position: -535px -175px
}

.flair-ile-de-france {
    background-position: -534px -219px
}

.flair-illinois {
    background-position: -534px -263px
}

.flair-in {
    background-position: -534px -307px
}

.flair-inca-empire {
    background-position: -534px -351px
}

.flair-india-turban {
    background-position: -534px -401px
}

.flair-indiana {
    background-position: -534px -445px
}

.flair-indonesia-variant {
    background-position: -534px -489px
}

.flair-ingria {
    background-position: -534px -533px
}

.flair-iowa {
    background-position: -537px -583px
}

.flair-iq {
    background-position: -534px -627px
}

.flair-ir {
    background-position: -534px -671px
}

.flair-irish-kingdom {
    background-position: -534px -715px
}

.flair-iroquois {
    background-position: -534px -759px
}

.flair-is {
    background-position: -534px -803px
}

.flair-islamabad {
    background-position: -534px -847px
}

.flair-isle-of-man {
    background-position: -534px -891px
}

.flair-it {
    background-position: -534px -935px
}

.flair-jaemtland {
    background-position: -534px -979px
}

.flair-jalisco {
    background-position: -586px 9px
}

.flair-jambi {
    background-position: -586px -35px
}

.flair-japan-shogun {
    background-position: -589px -86px
}

.flair-japanese-empire {
    background-position: -586px -130px
}

.flair-jersey {
    background-position: -586px -174px
}

.flair-jesus-stalin {
    background-position: -1517px -811px
}

.flair-jewish-autonom-oblast {
    background-position: -587px -222px
}

.flair-jm {
    background-position: -586px -266px
}

.flair-jo {
    background-position: -588px -313px
}

.flair-john-v98 {
    background-position: -1522px -864px
}

.flair-johor {
    background-position: -586px -357px
}

.flair-joseon {
    background-position: -586px -401px
}

.flair-jp {
    background-position: -586px -445px
}

.flair-kalmar {
    background-position: -586px -489px
}

.flair-kamchatka {
    background-position: -586px -533px
}

.flair-kansas {
    background-position: -586px -577px
}

.flair-karelia {
    background-position: -586px -621px
}

.flair-kashmir {
    background-position: -586px -665px
}

.flair-katalpa {
    background-position: -1522px -917px
}

.flair-ke {
    background-position: -586px -709px
}

.flair-kent {
    background-position: -586px -753px
}

.flair-kentucky {
    background-position: -587px -799px
}

.flair-kg {
    background-position: -586px -843px
}

.flair-kh {
    background-position: -586px -887px
}

.flair-khmer-republic {
    background-position: -586px -931px
}

.flair-ki {
    background-position: -586px -975px
}

.flair-kingdom-of-finland {
    background-position: -639px 9px
}

.flair-kingdom-of-golconda {
    background-position: -639px -35px
}

.flair-kingdom-of-goryeo {
    background-position: -639px -79px
}

.flair-kingdom-of-gwynedd {
    background-position: -639px -123px
}

.flair-kingdom-of-hanover {
    background-position: -639px -167px
}

.flair-kingdom-of-hungary {
    background-position: -639px -211px
}

.flair-kingdom-of-jerusalem {
    background-position: -639px -255px
}

.flair-kingdom-of-kongo {
    background-position: -639px -299px
}

.flair-kingdom-of-mysore {
    background-position: -639px -343px
}

.flair-kingdom-of-sarawak {
    background-position: -639px -387px
}

.flair-kingdom-of-travancore {
    background-position: -639px -431px
}

.flair-kingdom-of-tungning {
    background-position: -639px -475px
}

.flair-kn {
    background-position: -639px -519px
}

.flair-koleye {
    background-position: -1515px -966px
}

.flair-komi {
    background-position: -639px -563px
}

.flair-kosovo {
    background-position: -639px -607px
}

.flair-kp {
    background-position: -639px -651px
}

.flair-kr {
    background-position: -639px -695px
}

.flair-kuban-pr {
    background-position: -639px -739px
}

.flair-kurdistan {
    background-position: -639px -783px
}

.flair-kw {
    background-position: -639px -827px
}

.flair-kz {
    background-position: -642px -870px
}

.flair-la {
    background-position: -639px -914px
}

.flair-lancashire {
    background-position: -639px -958px
}

.flair-latgale {
    background-position: -639px -1002px
}

.flair-latin-empire {
    background-position: -691px 9px
}

.flair-lb {
    background-position: -691px -35px
}

.flair-leicestershire {
    background-position: -691px -79px
}

.flair-leinster {
    background-position: -691px -123px
}

.flair-li {
    background-position: -691px -167px
}

.flair-lima {
    background-position: -691px -211px
}

.flair-limburg-dutch {
    background-position: -691px -255px
}

.flair-lincolnshire {
    background-position: -691px -299px
}

.flair-lithuanian-ssr {
    background-position: -691px -343px
}

.flair-lk {
    background-position: -691px -387px
}

.flair-lombardy {
    background-position: -691px -431px
}

.flair-lorraine {
    background-position: -691px -475px
}

.flair-louisiana {
    background-position: -691px -519px
}

.flair-lower-saxony {
    background-position: -691px -563px
}

.flair-lower-silesia {
    background-position: -691px -607px
}

.flair-lr {
    background-position: -691px -651px
}

.flair-lssr {
    background-position: -691px -695px
}

.flair-lt {
    background-position: -691px -739px
}

.flair-lu {
    background-position: -691px -783px
}

.flair-lv {
    background-position: -691px -827px
}

.flair-ly {
    background-position: -691px -871px
}

.flair-ma {
    background-position: -691px -922px
}

.flair-madeira {
    background-position: -691px -966px
}

.flair-madrid {
    background-position: -691px -1010px
}

.flair-magallanes {
    background-position: -738px 9px
}

.flair-maine {
    background-position: -738px -35px
}

.flair-mamluk-sultanate {
    background-position: -738px -79px
}

.flair-manchukuo {
    background-position: -738px -123px
}

.flair-manitoba {
    background-position: -738px -167px
}

.flair-maori {
    background-position: -738px -211px
}

.flair-maranhao {
    background-position: -738px -255px
}

.flair-maratha-empire {
    background-position: -738px -299px
}

.flair-maryland {
    background-position: -738px -343px
}

.flair-massachusetts {
    background-position: -738px -391px
}

.flair-mato-grosso-do-sul {
    background-position: -738px -435px
}

.flair-mc {
    background-position: -738px -479px
}

.flair-md {
    background-position: -738px -523px
}

.flair-me {
    background-position: -738px -567px
}

.flair-meck-pomm {
    background-position: -738px -611px
}

.flair-mercia {
    background-position: -738px -655px
}

.flair-metis {
    background-position: -738px -699px
}

.flair-mexican-empire {
    background-position: -738px -752px
}

.flair-mg {
    background-position: -738px -796px
}

.flair-mh {
    background-position: -738px -840px
}

.flair-michigan {
    background-position: -738px -885px
}

.flair-minas-gerais {
    background-position: -742px -938px
}

.flair-minnesota {
    background-position: -738px -982px
}

.flair-mississippi {
    background-position: -793px 9px
}

.flair-missouri {
    background-position: -793px -35px
}

.flair-mk {
    background-position: -793px -79px
}

.flair-mm {
    background-position: -793px -123px
}

.flair-mn {
    background-position: -793px -167px
}

.flair-mo {
    background-position: -793px -211px
}

.flair-mods {
    background-position: -1585px -295px
}

.flair-mods-staff {
    background-position: -1582px -244px
}

.flair-moldavia {
    background-position: -793px -255px
}

.flair-mongol-empire {
    background-position: -793px -299px
}

.flair-montana {
    background-position: -793px -343px
}

.flair-moravia {
    background-position: -793px -387px
}

.flair-moscow {
    background-position: -793px -431px
}

.flair-mr {
    background-position: -793px -475px
}

.flair-mt {
    background-position: -793px -519px
}

.flair-mu {
    background-position: -793px -563px
}

.flair-mughal-empire {
    background-position: -793px -607px
}

.flair-multiculti {
    background-position: -793px -651px
}

.flair-murica {
    background-position: -801px -701px
}

.flair-mv {
    background-position: -793px -745px
}

.flair-mx {
    background-position: -799px -796px
}

.flair-my {
    background-position: -793px -840px
}

.flair-mz {
    background-position: -793px -884px
}

.flair-na {
    background-position: -793px -928px
}

.flair-nagorno-karabakh {
    background-position: -793px -972px
}

.flair-navajo {
    background-position: -855px 9px
}

.flair-nebraska {
    background-position: -855px -35px
}

.flair-nevada {
    background-position: -855px -79px
}

.flair-new-brunswick {
    background-position: -855px -123px
}

.flair-new-england {
    background-position: -855px -167px
}

.flair-new-france {
    background-position: -855px -211px
}

.flair-new-hampshire {
    background-position: -855px -255px
}

.flair-new-jersey {
    background-position: -855px -299px
}

.flair-new-mexico {
    background-position: -855px -343px
}

.flair-new-south-wales {
    background-position: -855px -387px
}

.flair-new-york {
    background-position: -855px -431px
}

.flair-newfoundland {
    background-position: -855px -475px
}

.flair-ng {
    background-position: -855px -519px
}

.flair-ni {
    background-position: -855px -563px
}

.flair-niemcybot {
    background-position: -1577px -342px
}

.flair-nl {
    background-position: -855px -607px
}

.flair-no {
    background-position: -855px -651px
}

.flair-nord-troendelag {
    background-position: -855px -695px
}

.flair-norfolk {
    background-position: -855px -739px
}

.flair-normandy {
    background-position: -855px -783px
}

.flair-norrbotten {
    background-position: -855px -827px
}

.flair-north-brabant {
    background-position: -855px -871px
}

.flair-north-carolina {
    background-position: -855px -915px
}

.flair-north-dakota {
    background-position: -855px -959px
}

.flair-north-holland {
    background-position: -855px -1003px
}

.flair-north-rhine-westphalia {
    background-position: -902px 9px
}

.flair-northern-cyprus {
    background-position: -902px -35px
}

.flair-northern-ireland {
    background-position: -902px -79px
}

.flair-northumberland {
    background-position: -902px -123px
}

.flair-northwest-territories {
    background-position: -902px -167px
}

.flair-nottinghamshire {
    background-position: -902px -211px
}

.flair-nova-scotia {
    background-position: -902px -255px
}

.flair-np {
    background-position: -902px -305px
}

.flair-nr {
    background-position: -902px -349px
}

.flair-nu {
    background-position: -902px -393px
}

.flair-nuevo-leon {
    background-position: -902px -437px
}

.flair-nunavut {
    background-position: -902px -481px
}

.flair-nz {
    background-position: -904px -532px
}

.flair-occitania {
    background-position: -902px -576px
}

.flair-odessa-oblast {
    background-position: -902px -620px
}

.flair-ohio {
    background-position: -904px -664px
}

.flair-oklahoma {
    background-position: -902px -708px
}

.flair-om {
    background-position: -902px -752px
}

.flair-ontario {
    background-position: -902px -796px
}

.flair-orange-free-state {
    background-position: -902px -840px
}

.flair-oregon {
    background-position: -912px -884px
}

.flair-osaka {
    background-position: -902px -928px
}

.flair-ossetia {
    background-position: -902px -972px
}

.flair-ottoman-empire {
    background-position: -970px 3px
}

.flair-overijssel {
    background-position: -969px -41px
}

.flair-oxfordshire {
    background-position: -969px -85px
}

.flair-pa {
    background-position: -969px -129px
}

.flair-paca {
    background-position: -969px -173px
}

.flair-pahlavi-dynasty {
    background-position: -969px -217px
}

.flair-parana {
    background-position: -969px -261px
}

.flair-patria-vieja {
    background-position: -969px -305px
}

.flair-pe {
    background-position: -969px -349px
}

.flair-penang {
    background-position: -969px -393px
}

.flair-pennsylvania {
    background-position: -969px -437px
}

.flair-pernambuco {
    background-position: -969px -481px
}

.flair-persian-empire {
    background-position: -969px -525px
}

.flair-pg {
    background-position: -969px -569px
}

.flair-ph {
    background-position: -969px -617px
}

.flair-pk {
    background-position: -969px -661px
}

.flair-pl {
    background-position: -969px -705px
}

.flair-poland-lithuania {
    background-position: -969px -749px
}

.flair-polish-hussar {
    background-position: -975px -799px
}

.flair-pomerania {
    background-position: -969px -843px
}

.flair-pontic-greeks {
    background-position: -969px -887px
}

.flair-portuguese-empire {
    background-position: -974px -936px
}

.flair-portuguese-macau {
    background-position: -969px -980px
}

.flair-pr-bulgaria {
    background-position: -1028px 9px
}

.flair-prince-edward-island {
    background-position: -1028px -35px
}

.flair-principality-of-hungary {
    background-position: -1028px -79px
}

.flair-prussia {
    background-position: -1027px -131px
}

.flair-ps {
    background-position: -1028px -175px
}

.flair-pt {
    background-position: -1028px -219px
}

.flair-puerto-rico {
    background-position: -1028px -263px
}

.flair-putih-tulang {
    background-position: -1522px -1019px
}

.flair-pw {
    background-position: -1028px -307px
}

.flair-py {
    background-position: -1028px -351px
}

.flair-qa {
    background-position: -1028px -395px
}

.flair-qing-dynasty {
    background-position: -1028px -439px
}

.flair-quebec {
    background-position: -1028px -487px
}

.flair-queensland {
    background-position: -1028px -531px
}

.flair-rbih {
    background-position: -1028px -575px
}

.flair-republic-of-china {
    background-position: -1028px -619px
}

.flair-republic-of-crimea {
    background-position: -1028px -663px
}

.flair-republic-of-genoa {
    background-position: -1030px -712px
}

.flair-republic-of-pisa {
    background-position: -1028px -756px
}

.flair-republic-of-venice {
    background-position: -1028px -800px
}

.flair-republika-srpska {
    background-position: -1028px -844px
}

.flair-rhine-republic {
    background-position: -1028px -888px
}

.flair-rhineland-palatinate {
    background-position: -1028px -932px
}

.flair-rhode-island {
    background-position: -1028px -976px
}

.flair-rhodesia {
    background-position: -1079px 9px
}

.flair-riga {
    background-position: -1079px -35px
}

.flair-rio-de-janeiro {
    background-position: -1079px -79px
}

.flair-rio-grande-do-sul {
    background-position: -1079px -127px
}

.flair-rio-grande-republic {
    background-position: -1079px -171px
}

.flair-riograndense-republic {
    background-position: -1079px -215px
}

.flair-ro {
    background-position: -1079px -259px
}

.flair-roman-empire {
    background-position: -1079px -311px
}

.flair-romani {
    background-position: -1079px -355px
}

.flair-romania-sr {
    background-position: -1079px -399px
}

.flair-rs {
    background-position: -1079px -443px
}

.flair-ru {
    background-position: -1079px -487px
}

.flair-russian-empire {
    background-position: -1079px -531px
}

.flair-rusyns {
    background-position: -1079px -575px
}

.flair-rw {
    background-position: -1079px -619px
}

.flair-ryukyu-kingdom {
    background-position: -1079px -663px
}

.flair-sa {
    background-position: -1079px -707px
}

.flair-saarland {
    background-position: -1079px -751px
}

.flair-sabah {
    background-position: -1079px -795px
}

.flair-saint-pierre-miquelon {
    background-position: -1079px -839px
}

.flair-sakha {
    background-position: -1079px -883px
}

.flair-sami {
    background-position: -1079px -933px
}

.flair-samogitia {
    background-position: -1079px -977px
}

.flair-santa-catarina {
    background-position: -1126px 9px
}

.flair-santiago-metro-region {
    background-position: -1126px -35px
}

.flair-sao-paulo-state {
    background-position: -1126px -79px
}

.flair-sardinia {
    background-position: -1126px -123px
}

.flair-saskatchewan {
    background-position: -1126px -167px
}

.flair-sassanian-empire {
    background-position: -1126px -211px
}

.flair-saxony {
    background-position: -1126px -299px
}

.flair-saxony-anhalt {
    background-position: -1126px -255px
}

.flair-sc {
    background-position: -1126px -343px
}

.flair-scania {
    background-position: -1126px -387px
}

.flair-schaffhausen {
    background-position: -1126px -431px
}

.flair-schleswig-holstein {
    background-position: -1126px -475px
}

.flair-scotland {
    background-position: -1128px -526px
}

.flair-sd {
    background-position: -1126px -570px
}

.flair-se {
    background-position: -1126px -614px
}

.flair-sealand-mini {
    background-position: -1120px -657px
}

.flair-second-bulgarian-empire {
    background-position: -1126px -701px
}

.flair-second-spanish-republic {
    background-position: -1126px -745px
}

.flair-selangor {
    background-position: -1126px -789px
}

.flair-septinsular-republic {
    background-position: -1126px -833px
}

.flair-serbian-empire {
    background-position: -1126px -884px
}

.flair-sg {
    background-position: -1126px -932px
}

.flair-shetland {
    background-position: -1126px -976px
}

.flair-shropshire {
    background-position: -1176px 9px
}

.flair-si {
    background-position: -1176px -35px
}

.flair-siam {
    background-position: -1176px -79px
}

.flair-siberia {
    background-position: -1176px -123px
}

.flair-sicily {
    background-position: -1176px -167px
}

.flair-sikh-empire {
    background-position: -1176px -209px
}

.flair-silesia {
    background-position: -1176px -253px
}

.flair-sk {
    background-position: -1176px -297px
}

.flair-sl {
    background-position: -1176px -341px
}

.flair-sm {
    background-position: -1176px -385px
}

.flair-smaland {
    background-position: -1176px -429px
}

.flair-smitheren {
    background-position: -1584px 0
}

.flair-so {
    background-position: -1176px -473px
}

.flair-somaliland {
    background-position: -1176px -517px
}

.flair-somerset {
    background-position: -1176px -561px
}

.flair-sonora {
    background-position: -1176px -605px
}

.flair-south-african-republic {
    background-position: -1176px -649px
}

.flair-south-african-union {
    background-position: -1176px -693px
}

.flair-south-australia {
    background-position: -1176px -737px
}

.flair-south-carolina {
    background-position: -1176px -781px
}

.flair-south-dakota {
    background-position: -1176px -825px
}

.flair-south-holland {
    background-position: -1176px -869px
}

.flair-south-vietnam {
    background-position: -1176px -913px
}

.flair-spacer {
    background-position: -1571px -373px
}

.flair-spanish-empire {
    background-position: -1178px -964px
}

.flair-sparta {
    background-position: -1176px -1015px
}

.flair-sr {
    background-position: -1227px 9px
}

.flair-ss {
    background-position: -1227px -35px
}

.flair-staff-mods {
    background-position: -1582px -420px
}

.flair-staff. {
    background-position: -1585px -471px
}

.flair-staffordshire {
    background-position: -1227px -79px
}

.flair-state-teutonic-order {
    background-position: -1227px -123px
}

.flair-sulu-sultanate {
    background-position: -1227px -167px
}

.flair-surrey {
    background-position: -1227px -211px
}

.flair-sussex {
    background-position: -1227px -255px
}

.flair-sv {
    background-position: -1227px -299px
}

.flair-sweden-carolean {
    background-position: -1231px -347px
}

.flair-sweden-norway {
    background-position: -1227px -391px
}

.flair-swedish-empire {
    background-position: -1227px -435px
}

.flair-sy {
    background-position: -1227px -479px
}

.flair-syrian-republic {
    background-position: -1227px -523px
}

.flair-sz {
    background-position: -1227px -567px
}

.flair-szeklerland {
    background-position: -1227px -611px
}

.flair-taiping-h-k {
    background-position: -1227px -655px
}

.flair-tasmania {
    background-position: -1227px -699px
}

.flair-tel-aviv-district {
    background-position: -1228px -747px
}

.flair-tennessee {
    background-position: -1227px -791px
}

.flair-texan-republic {
    background-position: -1227px -835px
}

.flair-texas {
    background-position: -1227px -885px
}

.flair-tg {
    background-position: -1227px -929px
}

.flair-th {
    background-position: -1227px -973px
}

.flair-thirteen-colonies {
    background-position: -1286px 5px
}

.flair-thuringia {
    background-position: -1282px -39px
}

.flair-tibet {
    background-position: -1282px -83px
}

.flair-tj {
    background-position: -1282px -127px
}

.flair-tl {
    background-position: -1282px -171px
}

.flair-tm {
    background-position: -1282px -215px
}

.flair-tn {
    background-position: -1282px -259px
}

.flair-to {
    background-position: -1282px -303px
}

.flair-tornedalen {
    background-position: -1282px -347px
}

.flair-tr {
    background-position: -1282px -391px
}

.flair-transnistria {
    background-position: -1282px -435px
}

.flair-transylvania-vampire {
    background-position: -1282px -483px
}

.flair-trieste-free-territory {
    background-position: -1282px -527px
}

.flair-troms {
    background-position: -1282px -571px
}

.flair-tt {
    background-position: -1282px -615px
}

.flair-tuscany {
    background-position: -1282px -659px
}

.flair-tuva {
    background-position: -1282px -703px
}

.flair-tv {
    background-position: -1282px -747px
}

.flair-tw {
    background-position: -1282px -791px
}

.flair-tyne-and-wear {
    background-position: -1282px -835px
}

.flair-tz {
    background-position: -1282px -879px
}

.flair-ua {
    background-position: -1282px -923px
}

.flair-ug {
    background-position: -1282px -967px
}

.flair-ulster {
    background-position: -1282px -1011px
}

.flair-umayyad-caliphate {
    background-position: -1337px 9px
}

.flair-un {
    background-position: -1346px -42px
}

.flair-united-states-be {
    background-position: -1337px -86px
}

.flair-unknown {
    background-position: -1337px -135px
}

.flair-uppland {
    background-position: -1337px -179px
}

.flair-ural {
    background-position: -1337px -223px
}

.flair-us {
    background-position: -1337px -317px
}

.flair-us-beaver-hat {
    background-position: -1338px -273px
}

.flair-utah {
    background-position: -1337px -361px
}

.flair-utrecht {
    background-position: -1337px -405px
}

.flair-uy {
    background-position: -1337px -449px
}

.flair-uz {
    background-position: -1337px -493px
}

.flair-va {
    background-position: -1335px -542px
}

.flair-vaestmanland {
    background-position: -1337px -586px
}

.flair-valencian-community {
    background-position: -1337px -630px
}

.flair-varna {
    background-position: -1337px -674px
}

.flair-vaud {
    background-position: -1337px -718px
}

.flair-ve {
    background-position: -1338px -767px
}

.flair-vendee {
    background-position: -1337px -811px
}

.flair-veneto {
    background-position: -1337px -855px
}

.flair-vermont-republic {
    background-position: -1337px -899px
}

.flair-vg {
    background-position: -1337px -943px
}

.flair-vi {
    background-position: -1337px -987px
}

.flair-victoria {
    background-position: -1402px 9px
}

.flair-vijayanagara {
    background-position: -1402px -35px
}

.flair-viking {
    background-position: -1402px -85px
}

.flair-virginia {
    background-position: -1402px -129px
}

.flair-vn {
    background-position: -1402px -177px
}

.flair-vojvodina {
    background-position: -1402px -221px
}

.flair-vu {
    background-position: -1402px -265px
}

.flair-wales {
    background-position: -1402px -309px
}

.flair-wallachia {
    background-position: -1402px -353px
}

.flair-wallonia {
    background-position: -1402px -397px
}

.flair-washington {
    background-position: -1404px -485px
}

.flair-washington-dc {
    background-position: -1402px -441px
}

.flair-wessex {
    background-position: -1402px -529px
}

.flair-west-florida {
    background-position: -1402px -573px
}

.flair-west-gothland {
    background-position: -1402px -617px
}

.flair-west-midlands {
    background-position: -1402px -661px
}

.flair-west-virginia {
    background-position: -1402px -705px
}

.flair-western-australia {
    background-position: -1402px -749px
}

.flair-western-sahara {
    background-position: -1402px -793px
}

.flair-wisconsin {
    background-position: -1402px -837px
}

.flair-worcestershire {
    background-position: -1402px -881px
}

.flair-worldcup {
    background-position: -1576px -521px
}

.flair-wuerttemberg {
    background-position: -1402px -925px
}

.flair-wyoming {
    background-position: -1402px -969px
}

.flair-yaddar {
    background-position: -1589px -53px
}

.flair-ye {
    background-position: -1453px 9px
}

.flair-yorkshire {
    background-position: -1453px -35px
}

.flair-yucatan {
    background-position: -1453px -79px
}

.flair-yugoslavia {
    background-position: -1453px -123px
}

.flair-yugra {
    background-position: -1453px -167px
}

.flair-yukon {
    background-position: -1453px -211px
}

.flair-za {
    background-position: -1453px -255px
}

.flair-zanzibar {
    background-position: -1453px -299px
}

.flair-zealand {
    background-position: -1453px -343px
}

.flair-zeeland {
    background-position: -1453px -387px
}

.flair-zimonitrome {
    background-position: -1580px -100px
}

.flair-zm {
    background-position: -1453px -431px
}

.flair-zurich {
    background-position: -1453px -475px
}

.flair-zw {
    background-position: -1453px -519px
}
